.home-container {
  width: 100%;
  /* max-width: 800px; */
  padding: 30px;
  /* margin: 32px auto; */
  display: contents;
}

.home-container header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.home-container header img {
  height: 64px;
  margin-right: 150px;
}
.home-container header input {
  border-style: hidden;
  border-radius: 4px;
  height: 48px;
  width: 600px;
  padding: 0 20px;
  font-size: 14px;
  color: #666;
}

.home-container header a {
  width: 260px;
  margin-left: auto;
  margin-top: 0;
}
.home-container header button {
  height: 60px;
  width: 60px;
  border-radius: 4px;
  border: 1px solid #dcdce6;
  background: transparent;
  /* margin-left: 300px; */
  transition: border-color 0.2s;
}

.home-container header button:hover {
  border-color: #999;
}

.home-container .input-pesquisa {
  display: flex;
  width: 600px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: 200px;
}
.home-container .btn-pesquisa {
  padding: 10px;
  height: 100%;
  color: white;
  min-width: 50px;
  text-align: center;
  border-style: none;
  cursor: pointer;
}

.home-container .bem-vindo {
  margin-left: 50px;
  color: #fff;
  margin-top: 50px;
}

.home-container h1 {
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 24px;
  color: #00ff00;
}

.home-container .partidas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-left: 180px;
}

.home-container .partidas li {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  position: relative;
  height: 280px;
  width: 400px;
}

.home-container .partidas li button {
  position: absolute;
  right: 24px;
  top: 24px;
  border: 0;
}

.home-container .partidas li button:hover {
  opacity: 0.8;
}

.home-container .partidas li strong {
  display: block;
  /* margin-bottom: 1px; */
  color: #41414d;
}

.home-container .partidas li p + strong {
  margin-top: 14px;
}

.home-container .partidas li p {
  color: #737380;
  line-height: 21px;
  font-size: 16px;
  margin-top: 20px;
}
.home-container .partidas li p b {
  color: #000000;
  line-height: 21px;
  font-size: 48px;
  margin-top: 20px;
}

.home-container .partidas .btn-adicionar {
  position: relative;
  background: transparent;
  margin-left: 170px;
  margin-top: 40px;
  cursor: pointer;
}
.type-name {
  width: 100px;
  height: 42px;
  margin-left: 90px;
  margin-top: 244px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  color: #ffffff;
}
.jogo-imagem {
  width: 186px;
  height: 145px;
  margin-left: 482px;
  margin-bottom: 70px;
}
.jogo-nome {
  width: 308px;
  height: 42px;
  margin-left: 1200px;
  margin-top: -150px;
  margin-bottom: 50px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 42px;

  color: #ffffff;
}
.barra-menor {
  width: 309.01px;
  height: 0px;
  margin-left: 57px;

  border: 5px solid #ffffff;
  transform: rotate(-0.37deg);
}
.barra-maior {
  width: 1026px;
  height: 0px;
  margin-left: 411px;
  margin-top: -8px;

  border: 5px solid #ffffff;
  transform: rotate(0.11deg);
}
.barras {
  margin-top: 387px;
}

.membros-imagem {
  width: 186px;
  height: 145px;
  margin-left: 782px;
  margin-bottom: 70px;
}

.profile-container .current-members {
  margin-top: 10px;
  color: #fff;
  background-color: #000000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.profile-container .current-members img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.profile-container body .current-games,
.current-members {
  padding: 24px;
  border-radius: 8px;
  position: relative;
  height: 280px;
  width: 400px;
}
