.campo{
    color: #dcdce6;
}

.cadastro-container header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.cadastro-container header img {
    height: 64px;
    margin-right: 1315px;
    cursor: pointer;
}

.cadastro-container{
    height: 100%;
    justify-content:center;
    align-items: center;
    display: contents;
}

.cadastro-container form{
        margin: 20px auto 0;
        width: 100%;
        max-width: 300px;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
}

.react-slidedown.my-dropdown-slidedown {
    transition-duration: 1.2s;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.cadastro-container form img{
    height: 250px;
    width: 100%;
    display:flex;
    
}


.cadastro-container form input{
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 48px;
    width: 300px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
}

.cadastro-container form select{
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
}


.cadastro-container .btn{
    margin-top: 1%;
    border: 1px solid #000000;
    border-radius: 4px;
    height: 48px;
    width : 112px;
    padding: 0 20px;
    font-size: 16px;
    font-style: bold;
    cursor: pointer;
    margin-top: 1%;
}


.cadastro-container .Cad{
    border: 0;
    background-color: #00FF00;
    color: #000000;
}

.cadastro-container .Cad:hover{
    background-color: #009e00;
}

.cadastro-container  .Voltar{
    background-color: #000000;
    color: #00FF00;
    
}

.cadastro-container .Voltar:hover{
    background-color: #161616;
}




.cadastro-container form div{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.cadastro-container form input::placeholder{
color:#999;
}

.cadastro-container form a{
  
    color: #00FF00;
}

label#thumbnail{
    margin-top: -5%;
     border: 1px dashed #ddd;
     background-size: cover;
     cursor: pointer;
     height: 120px;
     width: 130px;
     display: flex;
     justify-content: center;
     align-items: center;
}
label#thumbnail input {
    display: none;
}
label#thumbnail img {
    height: 15%;
    width: 15%;
}

label#thumbnail.has-thumbnail {
    border: 0;
    
}
label#thumbnail.has-thumbnail img {
    display: none;
}

.cadastro-container .campos{
    display: grid;
    grid-template-columns:  repeat(4, 5fr);
    grid-gap: 24px;
    list-style: none;
    justify-content: center;
    align-items: center;
}