.campo{
    color: #dcdce6;
}

.configuracao-container{
    width:100%;
    /* max-width: 800px; */
    padding: 30px;
    /* margin: 32px auto; */
    display: contents;   
}

.configuracao-container header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    
}


.configuracao-container header img {
    height: 64px;
    margin-right: 150px;
    cursor: pointer;
}
.configuracao-container header input{
   
    
    
    border-style: hidden;
    border-radius: 4px;
    height: 48px;
    width: 600px;
    padding: 0 20px;
    font-size: 14px;
    color: #666;
    
}


.configuracao-container header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}
.configuracao-container header button {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    transition : border-color 0.2s;
    
}

.configuracao-container header button:hover{
    border-color: #999;
    

}

.configuracao-container .input-pesquisa{
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: 200px;


}

.configuracao-container .btn-pesquisa{
    padding: 10px;
    height: 100%;
    color: white;
    min-width: 50px;
    text-align: center;
    border-style: none;
    cursor: pointer;
}


.configuracao-container{
    height: 100%;
    justify-content:center;
    align-items: center;
    display: contents;
    
}


.configuracao-container form{
        margin: 80px auto 0;
        width: 100%;
        max-width: 300px;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
}

.react-slidedown.my-dropdown-slidedown {
    transition-duration: 1.2s;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.configuracao-container form img{
    height: 250px;
    width: 100%;
    display:flex;
}


.configuracao-container form input{
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 48px;
    width: 300px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
    
}

.configuracao-container form select{
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
}


.configuracao-container .btn{
    border: 1px solid #000000;
    border-radius: 4px;
    height: 48px;
    width : 112px;
    padding: 0 20px;
    font-size: 16px;
    font-style: bold;
    cursor: pointer;
    margin-top: 1%;
}


.configuracao-container .Cad{
    border: 0;
    background-color: #00FF00;
    color: #000000;
    margin-top: 20%
}

.configuracao-container .Cad:hover{
    background-color: #009e00;
}

.configuracao-container  .Cas{
    background-color: #000000;
    color: #00FF00;
    
}

.configuracao-container .Cas:hover{
    background-color: #161616;
}




.configuracao-container form div{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    
}

.configuracao-container form input::placeholder{
color:#999;
}

.configuracao-container form a{
  
    color: #00FF00;
}

label#thumbnail{
    margin-top: -5%;
     border: 1px dashed #ddd;
     background-size: cover;
     cursor: pointer;
     height: 120px;
     width: 130px;
     display: flex;
     justify-content: center;
     align-items: center;
}
label#thumbnail input {
    display: none;
}
label#thumbnail img {
    height: 15%;
    width: 15%;
}

label#thumbnail.has-thumbnail {
    border: 0;
    
}
label#thumbnail.has-thumbnail img {
    display: none;
}
.configuracao-container .campos{
    display: grid;
    grid-template-rows:  repeat(1, 5fr);
    grid-gap: 12px;
    list-style: none;
    margin-left: -5%;
}

.configuracao-container .campos2{
    display: grid;
    grid-template-columns:  repeat(1, 5);
    grid-gap: 12px;
    list-style: none;
    margin-left: 10%; 
}