.profile-container{
    width:100%;
    /* max-width: 800px; */
    padding: 30px;
    /* margin: 32px auto; */
    display: contents;
    justify-content: center;
    align-items: center;
    
    
}

.profile-container header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    
}


.profile-container header img {
    height: 64px;
    margin-right: 150px;
}
.profile-container header input{
   
    
    
    border-style: hidden;
    border-radius: 4px;
    height: 48px;
    width: 600px;
    padding: 0 20px;
    font-size: 14px;
    color: #666;
    
}


.profile-container header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}
.profile-container header button {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    /* margin-left: 300px; */
    transition : border-color 0.2s;
    
}

.profile-container header button:hover{
    border-color: #999;
    

}

.profile-container .input-pesquisa{
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: 200px;


}
.profile-container .btn-pesquisa{
    padding: 10px;
    height: 100%;
    color: white;
    min-width: 50px;
    text-align: center;
    border-style: none;
}

.profile-container .div-profile{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container .div-profile .profile-pic{

    margin-top:40px;
    border-radius: 100%;
    object-fit:cover;
   object-position:50% 50%;
   height: 100%;
   width: 200px;

}
.profile-container .div-profile .profile-nic{
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-left: 20px;
}
.profile-container .div-profile .profile-rate{
    color: #F1DA07;
    margin-left: 20px;
}

.profile-container .current-games{
    background-color: #000000;
    color: #fff;
    display: flex;
    
    margin-bottom: 100px;
    margin-top: 10px;
   
}

.profile-container .current-games div{
    margin-right: 100px;
}

.profile-container .current-games img{
    height: 50px;
    width: 50px;
}

.profile-container  .current-members{
    margin-top: 10px;
    color: #fff;
    background-color: #000000;
  
}

.profile-container .current-members img{
    height: 50px;
    width: 50px; 
    border-radius: 100%;
    object-fit:cover;
   object-position:50% 50%;
}

.profile-container  .last-games{
  
    color: #fff;

    grid-gap: 24px;
    list-style: none;
    justify-content: center;
    
    margin-top: 20px;


    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    
    list-style: none;
    background-color: #000000;
    

}
.profile-container .last-games li{
    background: transparent;
    padding : 24px;
    border-radius: 8px;
    position: relative;
    height: 100px;
    width: 300px;
}



.profile-container body{
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
    justify-content: center;
   
    margin-left: 180px;
    color: #fff;
   
}

.profile-container body .last-games, .current-games, .current-members{
    
    padding : 24px;
    border-radius: 8px;
    position: relative;
    height: 280px;
    width: 400px;
    
}

.derrota{
    color: red;
}
.vitoria{
    color: #00ff00;
}
