.profile-container{
    width:100%;
    /* max-width: 800px; */
    padding: 30px;
    /* margin: 32px auto; */
    display: contents;
    justify-content: center;
    align-items: center;
    
    
}

.solicitantes{
    justify-content: center;
    align-items: center;
}

.solicitantes .div-above-solicitacoes{
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    padding: 5px;
}

.solicitantes .div-above-solicitacoes .botoes-div-above-solicitacoes{
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    padding: 10px;
}

.profile-container header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    
}



.profile-container header img {
    height: 64px;
    margin-right: 150px;
    cursor: pointer;
}
.profile-container header input{
   
    
    
    border-style: hidden;
    border-radius: 4px;
    height: 48px;
    width: 600px;
    padding: 0 20px;
    font-size: 14px;
    color: #666;
    
}


.profile-container header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}
.profile-container header button {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    /* margin-left: 300px; */
    transition : border-color 0.2s;
    
}

.profile-container header button:hover{
    border-color: #999;
    

}

.profile-container .input-pesquisa{
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: 200px;


}
.profile-container .btn-pesquisa{
    padding: 10px;
    height: 100%;
    color: white;
    min-width: 50px;
    text-align: center;
    border-style: none;
    cursor: pointer;
}

.profile-container .div-profile{
    margin-top: -2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container .div-profile .profile-pic{

    margin-top:40px;
    border-radius: 100%;
    object-fit:cover;
   object-position:50% 50%;
   height: 50%;
   width: 100px;

}

.profile-gamer-solicitacao{
    width: 30px;
    height: 30px;
}

.profile-container .div-profile .profile-nic{
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    margin-top: 2.5%;
}
.profile-container .div-profile .profile-rate{
    color: #F1DA07;
    margin-left: 20px;
}

.profile-container .div-profile .notificacoes{
    margin-left: 1%;
    margin-top: 2.7%;
}

.btn-notif{
    cursor: pointer;
    background: transparent;
    border-radius: 4px;
    border: transparent;
    color: #dcdce6;
    width: 25px;
    height: 25px;
}

.btn-exportacao{
    cursor: pointer;
    background: transparent;
    border-radius: 4px;
    border: transparent;
    color: #dcdce6;
    width: 25px;
    height: 25px;
}

.profile-container .current-gamesE{
    margin-top: 10px;
    color: #fff;
    background-color: #000000;
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    width: 400px;
    height: 240px;
    padding : 24px;
    border-radius: 8px;
    position: relative;
}

.profile-container .current-gamesE div{
    margin-right: 50px;
}

.profile-container .current-gamesE img{
    height: 45px;
    width: 45px;
}

.profile-container .current-gamesE p{
    font-size: 13px;
    width: 150px;
}

.profile-container body div  .current-members{
    margin-top: 10px;
    color: #fff;
    background-color: #000000;
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    width: 400px;
    height: 240px;
    padding : 24px;
    border-radius: 8px;
    position: relative;
}

.profile-container .current-members img{
    height: 45px;
    width: 45px; 
}

.profile-container .current-members p{
    font-size: 13px;
    width: 150px;
}

.profile-container body div .current-members h3{
    margin-top: 15%;
}

.profile-container .last-games{
  
    color: #fff;

    grid-gap: 24px;
    list-style: none;
    justify-content: center;
    
    margin-top: 20px;


    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    
    list-style: none;
    background-color: #000000;
    

}
.profile-container .last-games li{
    background: transparent;
    padding : 24px;
    border-radius: 8px;
    position: relative;
    height: 500px;
    width: 300px;
    
}



.profile-container body{
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
    justify-content: center;
   
    margin-left: 180px;
    color: #fff;
   
}



.profile-container body  .last-games{
    
    padding : 24px;
    border-radius: 8px;
    position: relative;
    height: 500px;
    width: 400px;
    
}

.derrota{
    color: red;
}
.vitoria{
    color: #00ff00;
}
.btnAprovar{
 
    border: 0;
    background-color: #00FF00;
    color: #000000;
    border: 2px solid #000000;
    height: 30px;
    width: 100px;
    border-radius: 4px;
    cursor: pointer;
    
}
.btnRecusar{
 
    border: 0;
    background-color: red;
    color: #000000;
    border: 1.5px solid #000000;
    height: 30px;
    width: 100px;
    border-radius: 4px;
    cursor: pointer;
    
}