.home-container {
  width: 100%;
  /* max-width: 800px; */
  padding: 30px;
  /* margin: 32px auto; */
  display: contents;
}

.home-container header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.home-container header img {
  height: 64px;
  margin-right: 150px;
  cursor: pointer;
}
.home-container header input {
  border-style: hidden;
  border-radius: 4px;
  height: 48px;
  width: 600px;
  padding: 0 20px;
  font-size: 14px;
  color: #666;
}

.home-container header a {
  width: 260px;
  margin-left: auto;
  margin-top: 0;
}
.home-container header button {
  height: 60px;
  width: 60px;
  border-radius: 4px;
  border: 1px solid #dcdce6;
  background: transparent;
  /* margin-left: 300px; */
  transition: border-color 0.2s;
}

.home-container header button:hover {
  border-color: #999;
}

.home-container .input-pesquisa {
  display: flex;
  width: 600px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: 200px;
}
.home-container .btn-pesquisa {
  padding: 10px;
  height: 100%;
  color: white;
  min-width: 50px;
  text-align: center;
  border-style: none;
  cursor: pointer;
}

.home-container .bem-vindo {
  margin-left: 50px;
  color: #fff;
  margin-top: 50px;
}

.home-container h1 {
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 24px;
  color: #00ff00;
}

.home-container .partidas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-left: 180px;
}

.home-container .partidas li {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  position: relative;
  height: 280px;
  width: 400px;
}

.home-container .partidas li button {
  position: absolute;
  right: 24px;
  top: 24px;
  border: 0;
}

.home-container .partidas li button:hover {
  opacity: 0.8;
}

.home-container .partidas li strong {
  display: block;
  /* margin-bottom: 1px; */
  color: #41414d;
}

.home-container .partidas li p + strong {
  margin-top: 14px;
}

.home-container .partidas li p {
  color: #737380;
  line-height: 21px;
  font-size: 16px;
  margin-top: 20px;
}
.home-container .partidas li p b {
  color: #000000;
  line-height: 21px;
  font-size: 48px;
  margin-top: 20px;
}

.home-container .partidas .btn-adicionar {
  position: relative;
  background: transparent;
  margin-left: 170px;
  margin-top: 40px;
  cursor: pointer;
}

.div-principal{
  display: grid;
  grid-template-columns:  repeat(2, 500px);
  width: 100%;
}

.div-principal .div-equipes{
  width: 100px;
  height: 42px;
  margin-left: 90px;
  margin-top: 100px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;

  color: #ffffff;
}

.div-principal .div-equipes-busca{
  margin-top: 100px;
  
}

.div-principal .div-equipes-busca .div-organizacao-equipes{
  display: grid;
  grid-template-columns:  repeat(5, 150px);
  width: 100px;

  align-items: center;
  
}

.div-principal .div-equipes-busca .div-organizacao-equipes .jogo-imagem {
  width: 60px;
  height: 60px;

}

.jogo-nome {
  width: 100px;
  height: 42px;

  font-weight: bold;
  font-size: 15px;
  line-height: 42px;
  justify-content: center;
  align-items: center;

  color: #ffffff;
}

.membros-imagem {
  width: 100px;
  height: 100px;
}

.btnPerfil{
 
    border: 0;
    background-color: #00FF00;
    color: #000000;
    border: 2px solid #000000;
    height: 30px;
    width: 100px;
    border-radius: 4px;
    cursor: pointer;
    
}

.btnPerfil:hover{
    background-color: #009e00;
}

.btnJaSou{
   color: #C4C4C4;
   opacity: 0.1; 
   cursor: block; 
   border: 0;
   border: 2px solid #000000;
   height: 30px;
   width: 100px;
   border-radius: 4px;
   cursor: pointer;
}

.div-integrantes{
  color: #fff;
  font-size: 18px;
  width: 200px;
  display: grid;
  grid-template-columns:  repeat(3, 100px);

}


/* .profile-container .current-members {
  margin-top: 10px;
  color: #fff;
  background-color: #000000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.profile-container .current-members img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.profile-container .div-principal .current-games,
.current-members {
  padding: 24px;
  border-radius: 8px;
  position: relative;
  height: 280px;
  width: 400px;
} */
