.login-container{
    height: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
}

.campo{
    color: #dcdce6;
    margin-bottom: -9%;
}

.login-container form img{
    height: 250px;
    width: 100%;
    display:flex;
    
}

.login-container form{
    margin: 80px auto 0;
    width: 100%;
    max-width: 300px;
    display:flex;
    flex-direction:column;
    
    
}


.login-container form input{
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
}

.login-container .formBtn{
    justify-content: space-between;
    max-width: 1120px;
    
    width: 100%;
    
}

.login-container .btn{
    margin-top: 15px;
    border: 1px solid #000000;
    border-radius: 4px;
    height: 48px;
    width : 112px;
    padding: 0 20px;
    font-size: 16px;
    font-style: bold;
    cursor: pointer;
    justify-content: center;
}


.login-container .Log{
    border: 0;
    background-color: #00FF00;
    color: #000000;
    
    
}

.login-container .Log:hover{
    background-color: #009e00;
}

.login-container .Cad{
    background-color: #000000;
    color: #00FF00;

    
}

.login-container .Cad:hover{
    background-color: #161616;
}


.login-container form div{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.login-container form p{
    margin-top: 10px;
    color: #FFFFFF;
    font-size: 16px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.login-container form input::placeholder{
color:#999;
}

.login-container form a{
    margin-top: 20px;
    color: #00FF00;
}