.home-container{
    width:100%;
    /* max-width: 800px; */
    padding: 30px;
    /* margin: 32px auto; */
    display: contents;
    
    
}

.home-container header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    
}


.home-container header img {
    height: 64px;
    margin-right: 150px;
}
.home-container header input{
   
    
    
    border-style: hidden;
    border-radius: 4px;
    height: 48px;
    width: 600px;
    padding: 0 20px;
    font-size: 14px;
    color: #666;
    
}


.home-container header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}
.home-container header button {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    /* margin-left: 300px; */
    transition : border-color 0.2s;
    
}

.home-container header button:hover{
    border-color: #999;
    

}

.home-container .input-pesquisa{
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: 200px;


}
.home-container .btn-pesquisa{
    padding: 10px;
    height: 100%;
    color: white;
    min-width: 50px;
    text-align: center;
    border-style: none;
    cursor: pointer;
}

.home-container .bem-vindo{
    margin-left: 50px;
    color:#fff;
    margin-top:50px;
    

}

.home-container h1{
    margin-left: 100px;
    margin-top:50px;
    margin-bottom: 24px;
    color: #00FF00;
}

.home-container .matches{
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-left: 180px;
}

.home-container .matches li{
    background: #fff;
    padding : 24px;
    border-radius: 8px;
    position: relative;
    height: 280px;
    width: 400px;
    
}

.home-container .matches li button{
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
}

.home-container .matches li button:hover{
    opacity: 0.8;
}

.home-container .matches li strong{
    display: block;
    /* margin-bottom: 1px; */
    color: #41414d;
}

.home-container .matches li p + strong{
    margin-top: 14px;
}

.home-container .matches li p {
    color: #737380;
    line-height: 21px;
    font-size: 16px;
    margin-top:20px;
}
.home-container .matches li p b {
    color: #000000;
    line-height: 21px;
    font-size: 48px;
    margin-top:20px;
    
    
}

.home-container .matches .btn-adicionar{
    position: relative;
    background: transparent;
    margin-left:  170px;
    margin-top: 40px;
}